.container {
  display: flex;
}

.sidebar {
  flex: 23% 0 0;
  text-align: center;
  font-size: 30px;
  color: #fafaf9;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
  border-right: 5px groove #a8a29e;
}

.name1 {
  border-bottom: 1px solid #a8a29e;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.name1 h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Courier New", Courier, monospace;
}

.sidebar h3 {
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 10px;
}

.name {
  border-bottom: 1px solid #a8a29e;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.sidebar li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
}

.sidebar a {
  text-decoration: none;
}

.contactBtn {
  border: #a8a29e solid 2px;
  border-radius: 100px;
  margin-top: 10px;
}

.sidebar img:hover {
  transform: scale(115%);
}

.content {
  flex: 4;
  margin-left: 50px;
  margin-right: 50px;

  padding-right: 1px;
  padding-top: 10px;
  font-size: 20px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.content h1 {
  text-align: left;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 25px;

  border-bottom: 1px solid #a8a29e;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content section {
  margin-bottom: 20px;
  margin-right: 20px;
}

.skills-list {
  list-style-type: circle;
  margin-left: 20px;
}

.aboutSiteContent {
  line-height: 1.3;
}

.right-sidebar {
  flex: 0 0 20%;
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
  background-color: #44403c;
  color: #fafaf9;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
  border: 2px solid #a8a29e;
  border-radius: 15px;
}

.right-sidebar p {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
