@import '../vars.css';

.container {
  color: var(--color-text);
  background-color: var(--color-secondary);
  justify-content: space-evenly;
  width: 62vh;
  margin-left: 2vh;
  padding: 7% 0px 7% 1vh;
  border-radius: 15px;
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 20px;
}

.links p {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.clickLink {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 100%;
  padding-left: 20px;
  border-radius: 20px;
  background-image: linear-gradient(
    90deg,
    rgba(69, 116, 202, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s;
}

.clickLink:hover {
  cursor: pointer;
  background-size: 100% 100%;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}
