@import '../vars.css';

.educationContainer {
  height: 12vh;
}

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 5vh 10vh 5vh 10vh;
  z-index: 1;
  margin-left: 7%;
  margin-right: 7%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
}

.firstContainer {
  margin-right: 5vh;
  border-right: 1px ridge white;
  width: 50%;
  padding-right: 1vh;

  color: var(--color-text);
}

.firstContainer h1 {
  margin-top: 3vh;
  margin-bottom: 0.5vh;
  font-size: 27px;
}

.firstContainer h2 {
  margin: 0vh 0 0.5vh 0;
  font-size: 25px;
}
.firstContainer h3 {
  margin-top: 0.2vh;
}

.aboutImage {
  width: 35%;
}

.secondContainer {
  width: 70%;
  margin-right: 0;
}

.secondContainer h3 {
  color: var(--color-text);
  font-size: 25px;
  margin-bottom: 1vh;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 1vh 2vh 1vh 2vh;
  font-size: 20px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.aboutItem a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 1px;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 2px;
  background-color: var(--color-text);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}

.aboutItem a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    display: none;
  }

  .aboutItems {
    margin-top: 29px;
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 0;
  }
}
