.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fafaf9;

  border-radius: 15px;
  border: 2px groove #a8a29e;

  padding-left: 25px;
  margin-bottom: 20px;
  margin-top: -15px;
  background-image: linear-gradient(135deg, #292524, #212333, #23233f);
}

.navtitle {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;

  font-family: "Trebuchet MS", sans-serif;
  font-size: 40px;
}

.navlinks {
  list-style: none;
  display: flex;
  border-radius: 10px;

  font-family: "Trebuchet MS", sans-serif;
  font-size: 25px;
}

.navlinks a {
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;

  border-radius: 15px;
  border-right: 2px groove #a8a29e;
}

.navlinks a:hover {
  background-color: #2f2f7e;
}
